* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
 min-height: 500vh;
 background: radial-gradient(
   circle at top right,
   #3a3f52 0%,
   #1f2433 35%,
   #0b0e14 70%
 );
 color: #fff;
}

main {
  width: 100%;
}

/* H3 tag */
h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #9aa0ff;
}
/* Toggle Icon */
.nav-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.4s ease;
}

/* Side Navbar */
.side-nav {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #1e1e2f;
  transition: transform 0.4s ease;
  z-index: 1000;
  padding-top: 80px;
}

/* Nav Content */
.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav li {
  margin: 20px 0;
  text-align: center;

}

.side-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.side-nav li:hover {
    color: #00c2ff;
}

/* Active State */
.side-nav.active {
  transform: translateX(-260px);
}

.nav-toggle.active {
  transform: translateX(-170px);
}

.side-nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 0;
}

/* gạch chân ẩn ban đầu */
.side-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #00c2ff;
  transition: width 0.3s ease;
}

/* hover vào gạch chân chạy ra */
.side-nav a:hover::after {
  width: 100%;
}

/* TIMELINE SECTION */

.block-left {
  position: relative;
  border: 5px solid #9aa0ff;
  margin: 100px 10px;
  padding: 10px;
  left: 51.5%;
}

.block-right {
  position: relative;
  border: 5px solid #9aa0ff;
  margin: 100px 10px;
  padding: 10px;
  right: 50%;
  text-align: end;
}

/* animation visible construct */
@keyframes visible{
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.block-left{
  /* 
  1. animation visible là cách mà các phần tử được chứa construct đó sẽ được thực hiện như được viết
  2. animation-timeline: view() là dòng để phần tử chỉ xuất hiện khi nằm trong phạm vi hiển thị trên màn hình
  3. entry 0% và cover 40% là để từ khi vừa bắt đầu thấy và tới 40% màn hình sẽ hiện toàn bộ
  */
  animation: visible linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.block-right{
  /* 
  1. animation visible là cách mà các phần tử được chứa construct đó sẽ được thực hiện như được viết
  2. animation-timeline: view() là dòng để phần tử chỉ xuất hiện khi nằm trong phạm vi hiển thị trên màn hình
  3. entry 0% và cover 40% là để từ khi vừa bắt đầu thấy và tới 40% màn hình sẽ hiện toàn bộ
  */
  animation: visible linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.scroll-watcher {
  position: relative;
  width: 80%;
  margin: auto;
}

/* 
- Thuộc tính thanh timeline
- Này là thanh màu tím ở giữa
*/
.scroll-watcher::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 150px;
  width: 4px;
  height: 100%;
  background-color: #9aa0ff;
}

.scroll-watcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scroll-watcher {
  animation: visible linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

#date-container h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}


/* 
Nhưng cục tròn ở trước các container chứa thông tin ư
2 cục cho khung trái và khung phải
*/
.block-right::before {
  content: "";
  position: absolute;
  right: -9%;
  top: 50%;
  top: 30px;
  width: 15px;
  height: 15px;
  background-color: #9aa0ff;
  border-radius: 50%;
}

.block-left::before {
  content: "";
  position: absolute;
  left: -9%;
  top: 50%;
  width: 15px;
  height: 15px;
  background-color: #9aa0ff;
  border-radius: 50%;
}
