* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: radial-gradient(circle at left, #3b3bff3f, #0b0b0f 60%);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* H3 tag */
h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #9aa0ff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 50px;
    background: rgba(15, 15, 25, 0.85);
    padding: 50px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

/* LEFT */
.left-main img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    filter: drop-shadow(0 0 40px rgba(90, 90, 255, 0.4));
}

/* RIGHT */
.intro {
    color: #9aa0ff;
    margin-bottom: 5px;
}

.name {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
}

.section {
    margin-bottom: 25px;
}

/* NAVBAR SECTION */
/* Navbar positioning */
nav {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 999;
}

.nav-open img {
    right: 50px;
    transform: translateX(90%);
    position: absolute;
    cursor: pointer ;
}

#slide-nav {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    transform: translateX(150%); /* ẨN SANG PHẢI giá trị gốc là translateX(120%) */
    transition: transform 0.4s ease;
}

#slide-nav ul {
    list-style: none;
}

#slide-nav ul li {
    margin: 5px;
}

#nav-open:checked ~ .nav-open img{
    transition: 0.5s;
    right: 100px;
    transform: scale(1.1);
    width: 33px

}

#nav-open:checked ~ #slide-nav {
    transition: 0.5s;
    right: 150px;
}
/* #nav-open:checked ~ #slide-nav i{
    transition: 0.5s;
    margin-left: 190px;
    position: absolute;
} */

nav #slide-nav ul li a,
nav #slide-nav ul li a:visited,
nav #slide-nav ul li a:hover,
nav #slide-nav ul li a:active {
  text-decoration: none;
  color: #9aa0ff
}

#nav-open {
    display: none;
}

.section p {
    color: #d1d1d1;
    line-height: 1.6;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 25px;
}

.grid p, .grid span, .grid li {
    color: #d1d1d1;
    font-size: 14px;
}

.grid p { 
    
}

.grid span {
    margin-left: 20px;
    margin-bottom: 10px;
}

.grid ul {
    padding-left: 15px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    padding: 8px 14px;
    background: rgba(100, 100, 255, 0.15);
    border: 1px solid rgba(100, 100, 255, 0.4);
    border-radius: 20px;
    font-size: 13px;
}

.socials {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
    transition: 0.3s;
}

.socials a:hover {
    opacity: 1;
    color: #9aa0ff;
}