* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: radial-gradient(circle at left, #3b3bff3f, #0b0b0f 60%);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* H3 tag */
h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #9aa0ff;
}

/* Toggle Icon */
.nav-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.4s ease;
}

/* Side Navbar */
.side-nav {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #1e1e2f;
  transition: transform 0.4s ease;
  z-index: 1000;
  padding-top: 80px;
}

/* Nav Content */
.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav li {
  margin: 20px 0;
  text-align: center;

}

.side-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.side-nav li:hover {
    color: #00c2ff;
}

/* Active State */
.side-nav.active {
  transform: translateX(-260px);
}

.nav-toggle.active {
  transform: translateX(-170px);
}

.side-nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 0;
}

/* gạch chân ẩn ban đầu */
.side-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #00c2ff;
  transition: width 0.3s ease;
}

/* hover vào gạch chân chạy ra */
.side-nav a:hover::after {
  width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 50px;
    background: rgba(15, 15, 25, 0.85);
    padding: 50px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

/* LEFT */
.left-main img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    filter: drop-shadow(0 0 40px rgba(90, 90, 255, 0.4));
}

/* RIGHT */
.intro {
    color: #9aa0ff;
    margin-bottom: 5px;
}

.name {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
}

.section {
    margin-bottom: 25px;
}

.section p {
    color: #d1d1d1;
    line-height: 1.6;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 25px;
}

.grid p, .grid span, .grid li {
    color: #d1d1d1;
    font-size: 14px;
}

.grid span {
    margin-left: 20px;
    margin-bottom: 10px;
}

.grid ul {
    padding-left: 15px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    padding: 8px 14px;
    background: rgba(100, 100, 255, 0.15);
    border: 1px solid rgba(100, 100, 255, 0.4);
    border-radius: 20px;
    font-size: 13px;
}

.socials {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
    transition: 0.3s;
}

.socials a:hover {
    transform: scale(1.1);
    opacity: 1;
}