* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
 min-height: 100vh;
 background: radial-gradient(
   circle at top right,
   #3a3f52 0%,
   #1f2433 35%,
   #0b0e14 70%
 );
 color: #fff;
}

/* H3 tag */
h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #9aa0ff;
}
/* Toggle Icon */
.nav-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.4s ease;
}

/* Side Navbar */
.side-nav {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #1e1e2f;
  transition: transform 0.4s ease;
  z-index: 1000;
  padding-top: 80px;
}

/* Nav Content */
.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav li {
  margin: 20px 0;
  text-align: center;

}

.side-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.side-nav li:hover {
    color: #00c2ff;
}

/* Active State */
.side-nav.active {
  transform: translateX(-260px);
}

.nav-toggle.active {
  transform: translateX(-170px);
}

.side-nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 0;
}

/* gạch chân ẩn ban đầu */
.side-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #00c2ff;
  transition: width 0.3s ease;
}

/* hover vào gạch chân chạy ra */
.side-nav a:hover::after {
  width: 100%;
}



/* ===========================
   PROJECT SHOWCASE LAYOUT
=========================== */

.project-showcase{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

/* CARD 70% */
.showcase-card{
  width:70%;
  max-width:1200px;
  display:grid;
  grid-template-columns: 2fr 3fr;
  background: rgba(15,15,30,0.75);
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 40px 80px rgba(0,0,0,0.6);
}

/* LEFT */
.showcase-info{
  padding:50px;
}

.showcase-info h2{
  font-size:32px;
  margin-bottom:10px;
}

.showcase-info h4{
  font-size:16px;
  color:#9aa0ff;
  margin-bottom:20px;
}

.tech li{
  list-style:none;
  font-size:14px;
  opacity:0.8;
  margin-bottom:6px;
}

.actions{
  margin-top:30px;
}

.actions a {
  text-decoration: none;
  background:none;
  border:1px solid #9aa0ff;
  border-radius: 15px;
  color:#9aa0ff;
  font-size:18px;
  padding: 10px;
  transform: scale(1);
  transition: 0.3s;
}

/* RIGHT */
.showcase-media{
  position:relative;
  border-left:1px solid rgba(255,255,255,0.05);
  overflow:hidden;
}

.showcase-media img,
.showcase-media video{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:0.6s;
}

.showcase-media video{
  position:absolute;
  inset:0;
  opacity:0;
}

/* hover preview */
.showcase-media:hover img{
  transform:scale(1.1);
  filter:brightness(0.6);
}
.showcase-media:hover video{
  opacity:1;
}

/* CONTROLS */
.showcase-controls{
  margin-top:30px;
}

.showcase-controls button{
  background:none;
  border:1px solid #9aa0ff;
  border-radius: 15px;
  color:#9aa0ff;
  font-size:18px;
  padding:10px 20px;
  margin:0 12px;
  cursor:pointer;
  width: 130px;
  transform: scale(1);
  transition: 0.3s;
  opacity: 0.8;
}

.showcase-controls button:hover{
  transform: scale(1.1);
  background-color: #00c2ff;
  background-color: #00c2ff;
  color: aliceblue;
  opacity: 1;
}

/* chưa fix được hover cái này nó zoom lên */
.actions a:hover{
  transform: scale(1.1);
  background-color: #00c2ff;
  background-color: #00c2ff;
  color: aliceblue;
  opacity: 1;
}